# Variáveis de ambiente
.env
*.env

# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
